body {
  background-color: #444444;
  color: whitesmoke;
}

#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 20px;
}

#instructions {
  background-color: rgba(216, 191, 216, 0.418);
}

.withBorder {
  border-style: solid;
  border-color: thistle;
  border-radius: 10pt;
  padding: 30pt;
}

#counter {
  font-size: xx-large;
}
